.venv/
.venv-linux/
__pycache__/
*.py[cod]
.pytest_cache/

.env
.env.*
!.env.example
*.pem
*.key

.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
*.tfvars
!*.tfvars.example

# Terraform generated state and plan files
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfplan
crash.log
